<div class="container">
  <h1>Create New Reservation</h1>

  <a routerLink="/dashboard/reservation/index-r" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- User ID Field -->
    <div class="form-group">
      <label for="userId">User ID:</label>
      <input 
        formControlName="userId"
        id="userId" 
        type="number" 
        class="form-control"
        [ngClass]="{'is-invalid': f['userId'].touched && f['userId'].invalid}">
    
    </div>

    <!-- Livre ID Field -->
    <div class="form-group">
      <label for="livreId">Livre ID:</label>
      <input 
        formControlName="livreId"
        id="livreId" 
        type="number" 
        class="form-control"
        [ngClass]="{'is-invalid': f['livreId'].touched && f['livreId'].invalid}">
      
    </div>

    <!-- Date of Reservation Field -->
    <div class="form-group">
      <label for="dateReservation">Date of Reservation:</label>
      <input 
        formControlName="dateReservation"
        id="dateReservation" 
        type="date" 
        class="form-control"
        [ngClass]="{'is-invalid': f['dateReservation'].touched && f['dateReservation'].invalid}">
      
    </div>

    <!-- Date of Return Field -->
    <div class="form-group">
      <label for="dateRetour">Date of Return:</label>
      <input 
        formControlName="dateRetour"
        id="dateRetour" 
        type="date" 
        class="form-control"
        [ngClass]="{'is-invalid': f['dateRetour'].touched && f['dateRetour'].invalid}">
      
    </div>

    <!-- Date of Cancellation Field -->
    <div class="form-group">
      <label for="dateAnnulation">Date of Cancellation (Optional):</label>
      <input 
        formControlName="dateAnnulation"
        id="dateAnnulation" 
        type="date" 
        class="form-control">
    </div>

    <!-- Submit Button -->
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
